# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
/build/*
/dependencies/*
artifacts
src/CommonAssemblyInfo.cs

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.v11.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache
*.sln.DotSettings
*.sln.DotSettings.user
*.sln.ide
*.Cache
src/[Ww]eb/styling/.sass-cache

# mstest test results
TestResults
results
Visualizer

# nuget
src/packages/*
!src/packages/repositories.config

# Acceptance Tests specific nuget
src/CareNotesIntegration.Api.AcceptanceTests/packages/*
!src/CareNotesIntegration.Api.AcceptanceTests/packages/repositories.config

# WebStorm
.idea/

#KDiff3
*.orig

# Auto generated (build time) files
src/[Ww]eb/app/*/*.min.js
src/[Ww]eb/diagnostics/*
src/[Ww]eb/styling/*
jshint.xml

# No data - should someone have put it there
/data/*

# Custom output folder to allow for local build and TC artifacts to run off the same references
src/CareNotesIntegrationApiOutput/*

# node modules
node_modules/